
<header>
  <nav class="navbar navbar-light bg-white navbar-expand-sm">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-list-2"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse colors" id="navbar-list-2">
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">upload page</a>
          </li>
          
          <li class="nav-item"  [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
            <a
              class="nav-link"
              [routerLink]="['history']"
              [routerLinkActive]="['link-active']" 
              >History page</a>
          </li>
        </ul>
    </div></div>
  </nav>
</header>
