<h3 class="mt-2" style="text-align: center; color:#1b6ec2;">Angular Material Tree</h3>
<table width=100%><tr aria-colindex="2">
  <td width=25%>
    <div style="text-align: center" class="ml-5 mt-5">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <a mat-icon-button (click)="SelectFile(node.url, node)">{{ node.name }}</a>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding>
        <a
          mat-icon-button
          matTreeNodeToggle
          style="cursor: pointer"
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </a>
        <a> {{ node.name }} </a>
      </mat-tree-node>
    </mat-tree>
  </div>
</td>
